{% extends "base.html" %}

{% block blog_base %}
<div>
    <h1>
        Bienvenido a plantus:
    </h1>
    <div class='row'>
        <div class='col-lg-9 pe-3 '>
            <ul class="col list-inline mb-2  w-100">
                {% for post in object_list %}
                <li class="list-inline item">
                    <div class="card shadow-sm mb-3 ">
                        <div class="row g-0">
                          <div class="col-md-5 d-flex align-items-center p-1">
                            <img src="{{post.post_image}}" class="img-fluid rounded shadow-lg border" alt="{{ post.title }}">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h4 class="card-title">
                                        <a class ='text-decoration-none text-secondary' href="{% url 'post_details' post.pk %}">
                                            {{ post.title }}
                                        </a>
                                    </h4>
                                    <p class='fw-normal fs-6 pb-0 m-0'>
                                        <small><a class='text-decoration-none text-success border rounded-5 p-1 bg-light' href="{% url 'category' post.category|slugify %}" >{{ post.category }}</a></small>
                                    </p>
                                    <p class="card-text">{{ post.body|slice:":100" }}...</p>
                                </div>
                                <div>
                                    <p class="card-text fs-6">
                                        <small class="text-muted ">
                                            By
                                            {{ post.author.first_name }}
                                            {{ post.author.last_name }}
                                            -
                                            {{ post.post_date }}
                                            {% if user.is_authenticated and user.id == post.author.id%}
                                            (<a class='link-secondary' href="{% url 'post_update' post.pk  %}">
                                                Edit
                                            </a>)
                                              -
                                            (<a class='link-danger' href="{% url 'post_delete' post.pk  %}">
                                                Delete
                                            </a>)                             
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </li>
                {% endfor %}
            <ul/>
        </div>

        <div class='d-none d-lg-block col-lg-3 ps-3 border-start border-success p-2 border-opacity-10'>
            
            <h5> Categories:</h5>
            <ul class="list-group shadow-sm">
                {% for cat in category_menu %}
                    <li class="list-group-item">
                        <a class='text-decoration-none text-secondary fs-6' href="{% url 'category' cat|slugify %}">
                            <small>{{cat}}</small>
                        </a>
                    </li>
                {% endfor %}

              </ul>
        </div>
    </div>
</div>
{% endblock blog_base %}

