{% extends "base.html" %}
{% block title %}
    - Delete post!
{% endblock %}

{% block blog_base %}

{% if user.is_authenticated and user.id == post.author.id%}

    <h1> Delete your post: </h1>
    <div>
        <form method='POST'>
            {% csrf_token %}
            <strong> Are you sure? </strong><br/>
            <button class='btn btn-danger btn-sm'> Delete Post </button>
        </form>
    </div>

{% else %}

    <div class="alert alert-danger my-5" role="alert">
        <h2 class> You are not authorized to be here</h2>
    </div>

{% endif %}

<a class='btn btn-success btn-sm' href="{% url 'home' %}"> Home </a>

{% endblock blog_base %}