{% extends "base.html" %}
{% block title %}
    - Create post!
{% endblock %}

{% block blog_base %}
<div>
    <h2 class='mb-2'> Create a post: </h2>
    <div class='d-flex justify-content-center border-bottom pb-3'>
        <div class='border rounded shadow bg-white form-group w-75 px-5 py-4'>
            <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class='btn btn-success btn-sm'> Post </button>
            <form/>
        </div>
    </div>   
</div>

<a class='btn btn-success btn-sm mt-4' href="{% url 'home' %}"> Home </a>

<script>
    let author = "{{user.id}}";
    document.getElementById('post_author').value = author;
</script>


{% endblock blog_base %}