{% extends "base.html" %}
{% block title %}
    - Change Password
{% endblock %}

{% block blog_base %}
<div class=" d-flex flex-column align-items-center mb-3">
    <div class="border rounded-3 shadow-sm mt-5 pt-4 pb-5 mb-5 px-5 bg-body w-75 ">
        <h2> Change Password </h2>
        <div class='form-group'>
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='btn btn-success btn-sm'> Change Password </button>
            <form/>
        </div>
    </div>
    <a class='btn btn-secondary btn-sm' href="{% url 'home' %}"> Home </a>
</div>
{% endblock blog_base %}